name: flutter_ulink_sdk
description: "Flutter SDK for creating and handling dynamic links, similar to Branch.io"
version: 0.2.8
homepage: https://github.com/mohn93/flutter_ulink_sdk

environment:
  sdk: ^3.6.2
  flutter: ">=1.17.0"

dependencies:
  flutter:
    sdk: flutter
  plugin_platform_interface: ^2.0.2

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^5.0.0


flutter:
  plugin:
    platforms:
      android:
        package: com.example.flutter_ulink_sdk
        pluginClass: FlutterUlinkSdkPlugin
      ios:
        pluginClass: FlutterUlinkSdkPlugin
